click==7.1.2
colorama==0.4.4
conda==4.3.16
future==0.18.2
importlib-metadata==3.7.3
ipykernel==5.3.4
ipython==7.21.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.3.0
jupyter-core==4.7.1
jupyter-server==1.7.0
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
MarkupSafe==1.1.1
matplotlib==3.3.2
notebook==6.3.0
numpy==1.19.2
Shapely==1.7.1
